In [1]:
pip install rdflib pandas

Collecting rdflib
  Downloading rdflib-7.2.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.12/dist-packages (from rdflib) (3.2.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading rdflib-7.2.1-py3-none-any.whl (565 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 565.4/565.4 kB 15.0 MB/s eta 0:00:00
Installing collected packages: rdflib
Successfully installed rdflib-7.2.1

In [2]:
import pandas as pd
from rdflib import Graph, Literal, Namespace, RDF, XSD

In [3]:
data = """Name;Address;Place;Country;Age;Hobby;Favourite Colour
John;Dam 52;Amsterdam;The Netherlands;32;Fishing;Blue
Jenny;Leidseplein 2;Amsterdam;The Netherlands;12;Dancing;Mauve
Jill;52W Street 5;Amsterdam;United States of America;28;Carpentry;Cyan
Jake;12E Street 98;Amsterdam;United States of America;42;Ballet;Purple
"""
with open("people.csv", "w") as f:
    f.write(data)

In [4]:
df = pd.read_csv("people.csv", sep=';')
print("--- CSV Data Loaded ---")
print(df)
print("\n" + "="*25 + "\n")

--- CSV Data Loaded ---
    Name        Address      Place                   Country  Age      Hobby  \
0   John         Dam 52  Amsterdam           The Netherlands   32    Fishing
1  Jenny  Leidseplein 2  Amsterdam           The Netherlands   12    Dancing
2   Jill   52W Street 5  Amsterdam  United States of America   28  Carpentry
3   Jake  12E Street 98  Amsterdam  United States of America   42     Ballet

  Favourite Colour
0             Blue
1            Mauve
2             Cyan
3           Purple

=========================

In [5]:
g = Graph()

EX = Namespace("http://example.org/person/")
FOAF = Namespace("http://xmlns.com/foaf/0.1/")
SCHEMA = Namespace("http://schema.org/")

g.bind("ex", EX)
g.bind("foaf", FOAF)
g.bind("schema", SCHEMA)

In [6]:
for _, row in df.iterrows():
    person = EX[row["Name"]]
    g.add((person, RDF.type, FOAF.Person))
    g.add((person, FOAF.name, Literal(row["Name"])))
    g.add((person, SCHEMA.address, Literal(row["Address"])))
    g.add((person, SCHEMA.city, Literal(row["Place"])))
    g.add((person, SCHEMA.country, Literal(row["Country"])))
    g.add((person, SCHEMA.age, Literal(int(row["Age"]), datatype=XSD.integer)))
    g.add((person, SCHEMA.hobby, Literal(row["Hobby"])))
    g.add((person, SCHEMA.favoriteColor, Literal(row["Favourite Colour"])))

In [7]:
rdf_data = g.serialize(format="turtle")

print("--- Generated RDF (Turtle Format) ---")
print(rdf_data)

--- Generated RDF (Turtle Format) ---
@prefix ex: <http://example.org/person/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix schema1: <http://schema.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

ex:Jake a foaf:Person ;
    schema1:address "12E Street 98" ;
    schema1:age 42 ;
    schema1:city "Amsterdam" ;
    schema1:country "United States of America" ;
    schema1:favoriteColor "Purple" ;
    schema1:hobby "Ballet" ;
    foaf:name "Jake" .

ex:Jenny a foaf:Person ;
    schema1:address "Leidseplein 2" ;
    schema1:age 12 ;
    schema1:city "Amsterdam" ;
    schema1:country "The Netherlands" ;
    schema1:favoriteColor "Mauve" ;
    schema1:hobby "Dancing" ;
    foaf:name "Jenny" .

ex:Jill a foaf:Person ;
    schema1:address "52W Street 5" ;
    schema1:age 28 ;
    schema1:city "Amsterdam" ;
    schema1:country "United States of America" ;
    schema1:favoriteColor "Cyan" ;
    schema1:hobby "Carpentry" ;
    foaf:name "Jill" .

ex:John a foaf:Person ;
    schema1:address "Dam 52" ;
    schema1:age 32 ;
    schema1:city "Amsterdam" ;
    schema1:country "The Netherlands" ;
    schema1:favoriteColor "Blue" ;
    schema1:hobby "Fishing" ;
    foaf:name "John" .

In [8]:
with open("people.ttl", "w") as f:
    f.write(rdf_data)
print("\n✅ RDF saved as 'people.ttl'")

✅ RDF saved as 'people.ttl'

#CONCLUSION

This experiment details the process of converting structured data from a CSV file into Resource Description Framework (RDF) format using Python libraries pandas and rdflib. The initial data, containing information about individuals including their names, addresses, locations, ages, hobbies, and favorite colors, was successfully loaded into a pandas DataFrame. This DataFrame was then iterated through, and each row was transformed into RDF triples.

The RDF data was structured using standard vocabularies such as FOAF (Friend of a Friend) for representing people and their names, and Schema.org for properties like address, city, country, age, hobby, and favorite color. Custom namespaces were defined to represent the individuals themselves. The generated RDF data, serialized in Turtle format, provides a machine-readable representation of the original data, enabling easier integration and querying within semantic web applications. The resulting RDF graph was saved to a .ttl file for future use. This process demonstrates the feasibility of converting tabular data into a linked data format, enhancing its interoperability and potential for richer data analysis and integration.